button{
    padding: 5px 18px;
    background-color: blue;
    color: white;
    margin-right: 20px;
    border:none;
    border-radius: 15px;
}

.card {
    border: 1px lightgrey solid;
    padding: 10px;
    border-radius: 10px;
    margin-bottom:10px
}